<form method="post" action="http://mailer.fetzverse.com:9000/subscription/form" class="listmonk-form">
<div id="nl-back">
  <div id="nl-head">Subscribe to the Newsletter</div>
  <input type="hidden" name="nonce" />
  <div id="nl-input">
    <input type="email" class="button" name="email" id="member_email" placeholder="Your email address...">
    <input id="aac0a" type="hidden" name="l" value="aac0a296-af07-470d-a11d-d18ef2f6c9ea" />
    <input type="submit" class="button" id="member_submit" value="Subscribe">
  </div>
</div>
</form>
