<form method="post" action="https://mailer.fetzverse.com/subscription/form" class="listmonk-form">
    <div id="ql-back">
      <input type="hidden" name="nonce" />
      <div id="ql-input">
        <input type="email" class="button" name="email" id="member_email" placeholder="Your email address...">
        <input id="97499" type="hidden" name="l" value="97499985-5082-4cfe-b5ee-d55ac6cc8336" />
        <input type="submit" class="button" id="member_submit" value="Subscribe to Newsletter">
      </div>
    </div>
    </form>
