<form id="quickmail" class="listmonk-form">
    <div id="ql-back">
      <input type="hidden" name="nonce" />
      <div id="ql-input">
        <input type="email" class="button" name="email" id="member_email" placeholder="Your email address...">
        <input id="aac0a" type="hidden" name="l" value="aac0a296-af07-470d-a11d-d18ef2f6c9ea" />
        <input type="submit" class="button" id="member_submit" value="Subscribe to Newsletter">
      </div>
    </div>
    </form>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/mailpost.js"></script>
    